## Core latex/pdflatex auxiliary files:
*.aux
*.fls
*.log
*.toc
*.bbl
*.blg
*.out

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)

# minted
_minted*
*.pyg

# note sparse
notes/

# file sorgenti
*.tex
