## Core latex/pdflatex auxiliary files:
*.aux
*.fls
*.log
*.toc
*.bbl
*.blg
*.xdv
*.nav
*.vrb
*.snm
*.out

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)

# minted
_minted*
*.pyg

# materiale sensibile
images/
notes/
material/
programs/
students/

# file sorgenti
# *.sty
# *.tex

# file java compilati
*.class

dispensa*
slides*
