## Core latex/pdflatex auxiliary files:
*.aux
*.fls
*.log
*.toc
*.bbl
*.blg
*.out

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)

# minted
_minted*
*.pyg

# materiale sensibile
images/
notes/
rseba/

# file sorgenti
*.tex

# file java compilati
*.class
